.he{
background-color: orangered;
    color: white;
}
.blue{
    color: blue;
}
.orange{
    color: orangered;
}
.backgroudblue{
    background-color: aqua;
    color: blue;
}
.yellow{
    background-color: yellow;
}
.bgorange{
    background-color: orange;
}
.right {
    text-align: right;
}
.center{
    text-align: center;
}